{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2024-04-15",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"application-signals",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Amazon CloudWatch Application Signals",
    "serviceId":"Application Signals",
    "signatureVersion":"v4",
    "signingName":"application-signals",
    "uid":"application-signals-2024-04-15"
  },
  "operations":{
    "BatchDeleteInstrumentationConfigurations":{
      "name":"BatchDeleteInstrumentationConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/batch-delete-instrumentation-configurations",
        "responseCode":200
      },
      "input":{"shape":"BatchDeleteInstrumentationConfigurationsRequest"},
      "output":{"shape":"BatchDeleteInstrumentationConfigurationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes multiple instrumentation configurations in a single request. Supports two mutually exclusive modes:</p> <ul> <li>Mode 1 (Bulk by scope): Delete all configurations matching a Service + Environment + InstrumentationType</li> <li>Mode 2 (Targeted by ARN): Delete specific configurations by providing a list of resource ARNs</li> </ul>"
    },
    "BatchGetServiceLevelObjectiveBudgetReport":{
      "name":"BatchGetServiceLevelObjectiveBudgetReport",
      "http":{
        "method":"POST",
        "requestUri":"/budget-report",
        "responseCode":200
      },
      "input":{"shape":"BatchGetServiceLevelObjectiveBudgetReportInput"},
      "output":{"shape":"BatchGetServiceLevelObjectiveBudgetReportOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "BatchUpdateExclusionWindows":{
      "name":"BatchUpdateExclusionWindows",
      "http":{
        "method":"PATCH",
        "requestUri":"/exclusion-windows",
        "responseCode":200
      },
      "input":{"shape":"BatchUpdateExclusionWindowsInput"},
      "output":{"shape":"BatchUpdateExclusionWindowsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateInstrumentationConfiguration":{
      "name":"CreateInstrumentationConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/create-instrumentation-configuration",
        "responseCode":200
      },
      "input":{"shape":"CreateInstrumentationConfigurationRequest"},
      "output":{"shape":"CreateInstrumentationConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ]
    },
    "CreateServiceLevelObjective":{
      "name":"CreateServiceLevelObjective",
      "http":{
        "method":"POST",
        "requestUri":"/slo",
        "responseCode":200
      },
      "input":{"shape":"CreateServiceLevelObjectiveInput"},
      "output":{"shape":"CreateServiceLevelObjectiveOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ]
    },
    "DeleteGroupingConfiguration":{
      "name":"DeleteGroupingConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/grouping-configuration",
        "responseCode":200
      },
      "output":{"shape":"DeleteGroupingConfigurationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "idempotent":true
    },
    "DeleteInstrumentationConfiguration":{
      "name":"DeleteInstrumentationConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/delete-instrumentation-configuration",
        "responseCode":200
      },
      "input":{"shape":"DeleteInstrumentationConfigurationRequest"},
      "output":{"shape":"DeleteInstrumentationConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DeleteServiceLevelObjective":{
      "name":"DeleteServiceLevelObjective",
      "http":{
        "method":"DELETE",
        "requestUri":"/slo/{Id}",
        "responseCode":200
      },
      "input":{"shape":"DeleteServiceLevelObjectiveInput"},
      "output":{"shape":"DeleteServiceLevelObjectiveOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "idempotent":true
    },
    "GetInstrumentationConfiguration":{
      "name":"GetInstrumentationConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/get-instrumentation-configuration",
        "responseCode":200
      },
      "input":{"shape":"GetInstrumentationConfigurationRequest"},
      "output":{"shape":"GetInstrumentationConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetInstrumentationConfigurationStatus":{
      "name":"GetInstrumentationConfigurationStatus",
      "http":{
        "method":"POST",
        "requestUri":"/get-instrumentation-configuration-status",
        "responseCode":200
      },
      "input":{"shape":"GetInstrumentationConfigurationStatusRequest"},
      "output":{"shape":"GetInstrumentationConfigurationStatusResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "readonly":true
    },
    "GetService":{
      "name":"GetService",
      "http":{
        "method":"POST",
        "requestUri":"/service",
        "responseCode":200
      },
      "input":{"shape":"GetServiceInput"},
      "output":{"shape":"GetServiceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "GetServiceLevelObjective":{
      "name":"GetServiceLevelObjective",
      "http":{
        "method":"GET",
        "requestUri":"/slo/{Id}",
        "responseCode":200
      },
      "input":{"shape":"GetServiceLevelObjectiveInput"},
      "output":{"shape":"GetServiceLevelObjectiveOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "GetTeleMendDeploymentsQueryResult":{
      "name":"GetTeleMendDeploymentsQueryResult",
      "http":{
        "method":"GET",
        "requestUri":"/telemend/deployments/{QueryId}",
        "responseCode":200
      },
      "input":{"shape":"GetTeleMendDeploymentsQueryResultInput"},
      "output":{"shape":"GetTeleMendDeploymentsQueryResultOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "readonly":true
    },
    "GetTeleMendEndpointsQueryResult":{
      "name":"GetTeleMendEndpointsQueryResult",
      "http":{
        "method":"GET",
        "requestUri":"/telemend/endpoints/{QueryId}",
        "responseCode":200
      },
      "input":{"shape":"GetTeleMendEndpointsQueryResultInput"},
      "output":{"shape":"GetTeleMendEndpointsQueryResultOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "readonly":true
    },
    "GetTeleMendFunctionsQueryResult":{
      "name":"GetTeleMendFunctionsQueryResult",
      "http":{
        "method":"GET",
        "requestUri":"/telemend/functions/{QueryId}",
        "responseCode":200
      },
      "input":{"shape":"GetTeleMendFunctionsQueryResultInput"},
      "output":{"shape":"GetTeleMendFunctionsQueryResultOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "readonly":true
    },
    "GetTeleMendIncidentsQueryResult":{
      "name":"GetTeleMendIncidentsQueryResult",
      "http":{
        "method":"GET",
        "requestUri":"/telemend/incidents/{QueryId}",
        "responseCode":200
      },
      "input":{"shape":"GetTeleMendIncidentsQueryResultInput"},
      "output":{"shape":"GetTeleMendIncidentsQueryResultOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "readonly":true
    },
    "GetTeleMendProfilesQueryResult":{
      "name":"GetTeleMendProfilesQueryResult",
      "http":{
        "method":"GET",
        "requestUri":"/telemend/profiles/{QueryId}",
        "responseCode":200
      },
      "input":{"shape":"GetTeleMendProfilesQueryResultInput"},
      "output":{"shape":"GetTeleMendProfilesQueryResultOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "readonly":true
    },
    "ListAuditFindings":{
      "name":"ListAuditFindings",
      "http":{
        "method":"POST",
        "requestUri":"/auditFindings",
        "responseCode":200
      },
      "input":{"shape":"ListAuditFindingsInput"},
      "output":{"shape":"ListAuditFindingsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "ListEntityEvents":{
      "name":"ListEntityEvents",
      "http":{
        "method":"POST",
        "requestUri":"/events",
        "responseCode":200
      },
      "input":{"shape":"ListEntityEventsInput"},
      "output":{"shape":"ListEntityEventsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "ListGroupingAttributeDefinitions":{
      "name":"ListGroupingAttributeDefinitions",
      "http":{
        "method":"POST",
        "requestUri":"/grouping-attribute-definitions",
        "responseCode":200
      },
      "input":{"shape":"ListGroupingAttributeDefinitionsInput"},
      "output":{"shape":"ListGroupingAttributeDefinitionsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "readonly":true
    },
    "ListInstrumentationConfigurations":{
      "name":"ListInstrumentationConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/list-instrumentation-configurations",
        "responseCode":200
      },
      "input":{"shape":"ListInstrumentationConfigurationsRequest"},
      "output":{"shape":"InstrumentationConfigurationsPage"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListServiceDependencies":{
      "name":"ListServiceDependencies",
      "http":{
        "method":"POST",
        "requestUri":"/service-dependencies",
        "responseCode":200
      },
      "input":{"shape":"ListServiceDependenciesInput"},
      "output":{"shape":"ListServiceDependenciesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "ListServiceDependents":{
      "name":"ListServiceDependents",
      "http":{
        "method":"POST",
        "requestUri":"/service-dependents",
        "responseCode":200
      },
      "input":{"shape":"ListServiceDependentsInput"},
      "output":{"shape":"ListServiceDependentsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "ListServiceLevelObjectiveExclusionWindows":{
      "name":"ListServiceLevelObjectiveExclusionWindows",
      "http":{
        "method":"GET",
        "requestUri":"/slo/{Id}/exclusion-windows",
        "responseCode":200
      },
      "input":{"shape":"ListServiceLevelObjectiveExclusionWindowsInput"},
      "output":{"shape":"ListServiceLevelObjectiveExclusionWindowsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "ListServiceLevelObjectives":{
      "name":"ListServiceLevelObjectives",
      "http":{
        "method":"POST",
        "requestUri":"/slos",
        "responseCode":200
      },
      "input":{"shape":"ListServiceLevelObjectivesInput"},
      "output":{"shape":"ListServiceLevelObjectivesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "ListServiceOperations":{
      "name":"ListServiceOperations",
      "http":{
        "method":"POST",
        "requestUri":"/service-operations",
        "responseCode":200
      },
      "input":{"shape":"ListServiceOperationsInput"},
      "output":{"shape":"ListServiceOperationsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "ListServiceStates":{
      "name":"ListServiceStates",
      "http":{
        "method":"POST",
        "requestUri":"/service/states",
        "responseCode":200
      },
      "input":{"shape":"ListServiceStatesInput"},
      "output":{"shape":"ListServiceStatesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListServices":{
      "name":"ListServices",
      "http":{
        "method":"GET",
        "requestUri":"/services",
        "responseCode":200
      },
      "input":{"shape":"ListServicesInput"},
      "output":{"shape":"ListServicesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "PutGroupingConfiguration":{
      "name":"PutGroupingConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/grouping-configuration",
        "responseCode":200
      },
      "input":{"shape":"PutGroupingConfigurationInput"},
      "output":{"shape":"PutGroupingConfigurationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ReportInstrumentationConfigurationStatus":{
      "name":"ReportInstrumentationConfigurationStatus",
      "http":{
        "method":"POST",
        "requestUri":"/report-instrumentation-configuration-status",
        "responseCode":200
      },
      "input":{"shape":"ReportInstrumentationConfigurationStatusRequest"},
      "output":{"shape":"ReportInstrumentationConfigurationStatusResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "idempotent":true
    },
    "StartDiscovery":{
      "name":"StartDiscovery",
      "http":{
        "method":"POST",
        "requestUri":"/start-discovery",
        "responseCode":200
      },
      "input":{"shape":"StartDiscoveryInput"},
      "output":{"shape":"StartDiscoveryOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "StartTeleMendDeploymentsQuery":{
      "name":"StartTeleMendDeploymentsQuery",
      "http":{
        "method":"POST",
        "requestUri":"/telemend/deployments",
        "responseCode":200
      },
      "input":{"shape":"StartTeleMendDeploymentsQueryInput"},
      "output":{"shape":"StartTeleMendDeploymentsQueryOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "StartTeleMendEndpointsQuery":{
      "name":"StartTeleMendEndpointsQuery",
      "http":{
        "method":"POST",
        "requestUri":"/telemend/endpoints",
        "responseCode":200
      },
      "input":{"shape":"StartTeleMendEndpointsQueryInput"},
      "output":{"shape":"StartTeleMendEndpointsQueryOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "StartTeleMendFunctionsQuery":{
      "name":"StartTeleMendFunctionsQuery",
      "http":{
        "method":"POST",
        "requestUri":"/telemend/functions",
        "responseCode":200
      },
      "input":{"shape":"StartTeleMendFunctionsQueryInput"},
      "output":{"shape":"StartTeleMendFunctionsQueryOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "StartTeleMendIncidentsQuery":{
      "name":"StartTeleMendIncidentsQuery",
      "http":{
        "method":"POST",
        "requestUri":"/telemend/incidents",
        "responseCode":200
      },
      "input":{"shape":"StartTeleMendIncidentsQueryInput"},
      "output":{"shape":"StartTeleMendIncidentsQueryOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "StartTeleMendProfilesQuery":{
      "name":"StartTeleMendProfilesQuery",
      "http":{
        "method":"POST",
        "requestUri":"/telemend/profiles",
        "responseCode":200
      },
      "input":{"shape":"StartTeleMendProfilesQueryInput"},
      "output":{"shape":"StartTeleMendProfilesQueryOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tag-resource",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/untag-resource",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "UpdateServiceLevelObjective":{
      "name":"UpdateServiceLevelObjective",
      "http":{
        "method":"PATCH",
        "requestUri":"/slo/{Id}",
        "responseCode":200
      },
      "input":{"shape":"UpdateServiceLevelObjectiveInput"},
      "output":{"shape":"UpdateServiceLevelObjectiveOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ]
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ServiceErrorMessage"}
      },
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccountId":{
      "type":"string",
      "max":255,
      "min":1
    },
    "AmazonResourceName":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "ArgumentMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"},
      "deprecated":true
    },
    "Attainment":{
      "type":"double",
      "box":true
    },
    "AttainmentGoal":{
      "type":"double",
      "box":true
    },
    "AttributeFilter":{
      "type":"structure",
      "required":[
        "AttributeFilterName",
        "AttributeFilterValues"
      ],
      "members":{
        "AttributeFilterName":{"shape":"AttributeFilterName"},
        "AttributeFilterValues":{"shape":"AttributeFilterValues"}
      }
    },
    "AttributeFilterName":{
      "type":"string",
      "pattern":"[A-Za-z0-9 :/-]+"
    },
    "AttributeFilterValue":{
      "type":"string",
      "pattern":"[A-Za-z0-9 :/-]+"
    },
    "AttributeFilterValues":{
      "type":"list",
      "member":{"shape":"AttributeFilterValue"},
      "max":20,
      "min":0
    },
    "AttributeFilters":{
      "type":"list",
      "member":{"shape":"AttributeFilter"},
      "max":20,
      "min":0
    },
    "AttributeMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "AttributeMaps":{
      "type":"list",
      "member":{"shape":"AttributeMap"}
    },
    "Attributes":{
      "type":"map",
      "key":{"shape":"KeyAttributeName"},
      "value":{"shape":"KeyAttributeValue"},
      "max":4,
      "min":1
    },
    "AuditFinding":{
      "type":"structure",
      "required":["KeyAttributes"],
      "members":{
        "KeyAttributes":{"shape":"Attributes"},
        "AuditorResults":{"shape":"AuditorResults"},
        "Operation":{"shape":"String"},
        "MetricGraph":{"shape":"MetricGraph"},
        "DependencyGraph":{"shape":"DependencyGraph"},
        "Type":{"shape":"String"},
        "Description":{
          "shape":"FindingDescription",
          "deprecated":true
        },
        "Severity":{
          "shape":"Severity",
          "deprecated":true
        },
        "AuditResults":{
          "shape":"AuditResults",
          "deprecated":true
        }
      }
    },
    "AuditFindings":{
      "type":"list",
      "member":{"shape":"AuditFinding"},
      "max":10,
      "min":0
    },
    "AuditResult":{
      "type":"structure",
      "members":{
        "AuditType":{"shape":"String"},
        "Description":{"shape":"FindingDescription"}
      },
      "deprecated":true
    },
    "AuditResults":{
      "type":"list",
      "member":{"shape":"AuditResult"},
      "deprecated":true
    },
    "AuditTarget":{
      "type":"structure",
      "required":[
        "Type",
        "Data"
      ],
      "members":{
        "Type":{"shape":"String"},
        "Data":{"shape":"AuditTargetEntity"}
      }
    },
    "AuditTargetEntity":{
      "type":"structure",
      "members":{
        "Service":{"shape":"ServiceEntity"},
        "Slo":{"shape":"ServiceLevelObjectiveEntity"},
        "ServiceOperation":{"shape":"ServiceOperationEntity"},
        "Canary":{"shape":"CanaryEntity"}
      },
      "union":true
    },
    "AuditTargets":{
      "type":"list",
      "member":{"shape":"AuditTarget"},
      "max":10,
      "min":1
    },
    "AuditorResult":{
      "type":"structure",
      "members":{
        "Auditor":{"shape":"String"},
        "Description":{"shape":"AuditorResultDescriptionString"},
        "Data":{"shape":"DataMap"},
        "Severity":{"shape":"Severity"}
      }
    },
    "AuditorResultDescriptionString":{
      "type":"string",
      "max":10240,
      "min":0
    },
    "AuditorResults":{
      "type":"list",
      "member":{"shape":"AuditorResult"},
      "max":5,
      "min":0
    },
    "Auditors":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "AwsAccountId":{
      "type":"string",
      "pattern":"[0-9]{12}"
    },
    "BatchDeleteByResourceArns":{
      "type":"structure",
      "required":[
        "ResourceArns",
        "InstrumentationType"
      ],
      "members":{
        "ResourceArns":{
          "shape":"BatchDeleteByResourceArnsResourceArnsList",
          "documentation":"<p>List of resource ARNs to delete.</p>"
        },
        "InstrumentationType":{
          "shape":"InstrumentationType",
          "documentation":"<p>Instrumentation type: BREAKPOINT or PROBE.</p>"
        }
      },
      "documentation":"<p>Parameters for targeted delete by ARN list (Mode 2).</p>"
    },
    "BatchDeleteByResourceArnsResourceArnsList":{
      "type":"list",
      "member":{"shape":"BatchDeleteByResourceArnsResourceArnsListMemberString"},
      "documentation":"<p>List of resource ARNs for batch delete operation (Mode 2). Maximum 50 ARNs per request.</p>",
      "max":50,
      "min":1
    },
    "BatchDeleteByResourceArnsResourceArnsListMemberString":{
      "type":"string",
      "max":2048,
      "min":20
    },
    "BatchDeleteDeletionTarget":{
      "type":"structure",
      "members":{
        "Scope":{
          "shape":"BatchDeleteScope",
          "documentation":"<p>Mode 1: Delete all configurations matching the specified scope.</p>"
        },
        "ResourceArns":{
          "shape":"BatchDeleteByResourceArns",
          "documentation":"<p>Mode 2: Delete specific configurations by ARN list.</p>"
        }
      },
      "documentation":"<p>Union type for batch delete target selection. Exactly one of the two modes must be specified.</p>",
      "union":true
    },
    "BatchDeleteError":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "Code",
        "Message"
      ],
      "members":{
        "ResourceArn":{
          "shape":"String",
          "documentation":"<p>ARN of the configuration that failed to delete.</p>"
        },
        "Code":{
          "shape":"BatchDeleteErrorCode",
          "documentation":"<p>Error code indicating the type of failure.</p>"
        },
        "Message":{
          "shape":"String",
          "documentation":"<p>Descriptive error message.</p>"
        }
      },
      "documentation":"<p>Represents an error that occurred when attempting to delete a configuration.</p>"
    },
    "BatchDeleteErrorCode":{
      "type":"string",
      "documentation":"<p>Error codes for batch delete item-level failures.</p>",
      "enum":[
        "ResourceNotFoundException",
        "AccessDeniedException",
        "InternalServiceException"
      ]
    },
    "BatchDeleteErrorList":{
      "type":"list",
      "member":{"shape":"BatchDeleteError"},
      "documentation":"<p>List of errors in batch delete response.</p>"
    },
    "BatchDeleteInstrumentationConfigurationsRequest":{
      "type":"structure",
      "required":["DeletionTarget"],
      "members":{
        "DeletionTarget":{
          "shape":"BatchDeleteDeletionTarget",
          "documentation":"<p>The deletion target - either bulk by scope or targeted by ARN list.</p>"
        }
      }
    },
    "BatchDeleteInstrumentationConfigurationsResponse":{
      "type":"structure",
      "required":[
        "DeletedCount",
        "SuccessfulDeletions",
        "Errors"
      ],
      "members":{
        "DeletedCount":{
          "shape":"Integer",
          "documentation":"<p>Number of configurations successfully deleted. For Mode 1 (scope), this is the total count of deleted items. For Mode 2 (ARN list), this equals the length of SuccessfulDeletions.</p>"
        },
        "SuccessfulDeletions":{
          "shape":"BatchDeleteSuccessfulDeletionList",
          "documentation":"<p>List of successfully deleted configurations. Mode 1 populates SignalType and LocationHash per item. Mode 2 populates ResourceArn per item.</p>"
        },
        "Errors":{
          "shape":"BatchDeleteErrorList",
          "documentation":"<p>List of configurations that failed to delete.</p>"
        }
      }
    },
    "BatchDeleteScope":{
      "type":"structure",
      "required":[
        "Service",
        "Environment",
        "InstrumentationType"
      ],
      "members":{
        "Service":{
          "shape":"BatchDeleteScopeServiceString",
          "documentation":"<p>Service name for the instrumentation configurations.</p>"
        },
        "Environment":{
          "shape":"BatchDeleteScopeEnvironmentString",
          "documentation":"<p>Environment identifier for the instrumentation configurations.</p>"
        },
        "InstrumentationType":{
          "shape":"InstrumentationType",
          "documentation":"<p>Instrumentation type: BREAKPOINT or PROBE.</p>"
        }
      },
      "documentation":"<p>Scope parameters for bulk delete (Mode 1).</p>"
    },
    "BatchDeleteScopeEnvironmentString":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[A-Za-z0-9:/+=,.@_-]+"
    },
    "BatchDeleteScopeServiceString":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[A-Za-z0-9:/+=,.@_-]+"
    },
    "BatchDeleteSuccessfulDeletion":{
      "type":"structure",
      "members":{
        "ResourceArn":{
          "shape":"String",
          "documentation":"<p>ARN of the deleted configuration (populated for Mode 2 only).</p>"
        },
        "SignalType":{
          "shape":"String",
          "documentation":"<p>Signal type of the deleted configuration (populated for Mode 1 only).</p>"
        },
        "LocationHash":{
          "shape":"String",
          "documentation":"<p>Location hash of the deleted configuration (populated for Mode 1 only).</p>"
        }
      },
      "documentation":"<p>Represents a successfully deleted instrumentation configuration.</p>"
    },
    "BatchDeleteSuccessfulDeletionList":{
      "type":"list",
      "member":{"shape":"BatchDeleteSuccessfulDeletion"},
      "documentation":"<p>List of successful deletions in batch delete response.</p>"
    },
    "BatchGetServiceLevelObjectiveBudgetReportInput":{
      "type":"structure",
      "required":[
        "Timestamp",
        "SloIds"
      ],
      "members":{
        "Timestamp":{"shape":"Timestamp"},
        "SloIds":{"shape":"ServiceLevelObjectiveIds"}
      }
    },
    "BatchGetServiceLevelObjectiveBudgetReportOutput":{
      "type":"structure",
      "required":[
        "Timestamp",
        "Reports",
        "Errors"
      ],
      "members":{
        "Timestamp":{"shape":"Timestamp"},
        "Reports":{"shape":"ServiceLevelObjectiveBudgetReports"},
        "Errors":{"shape":"ServiceLevelObjectiveBudgetReportErrors"}
      }
    },
    "BatchUpdateExclusionWindowsError":{
      "type":"structure",
      "required":[
        "SloId",
        "ErrorCode",
        "ErrorMessage"
      ],
      "members":{
        "SloId":{"shape":"ServiceLevelObjectiveId"},
        "ErrorCode":{"shape":"ExclusionWindowErrorCode"},
        "ErrorMessage":{"shape":"ExclusionWindowErrorMessage"}
      }
    },
    "BatchUpdateExclusionWindowsErrors":{
      "type":"list",
      "member":{"shape":"BatchUpdateExclusionWindowsError"},
      "max":10,
      "min":0
    },
    "BatchUpdateExclusionWindowsInput":{
      "type":"structure",
      "required":["SloIds"],
      "members":{
        "SloIds":{"shape":"ServiceLevelObjectiveIds"},
        "AddExclusionWindows":{"shape":"ExclusionWindows"},
        "RemoveExclusionWindows":{"shape":"ExclusionWindows"}
      }
    },
    "BatchUpdateExclusionWindowsOutput":{
      "type":"structure",
      "required":[
        "SloIds",
        "Errors"
      ],
      "members":{
        "SloIds":{"shape":"ServiceLevelObjectiveIds"},
        "Errors":{"shape":"BatchUpdateExclusionWindowsErrors"}
      }
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "BudgetRequestsRemaining":{
      "type":"integer",
      "box":true
    },
    "BudgetSecondsRemaining":{
      "type":"integer",
      "box":true
    },
    "BurnRateConfiguration":{
      "type":"structure",
      "required":["LookBackWindowMinutes"],
      "members":{
        "LookBackWindowMinutes":{"shape":"BurnRateLookBackWindowMinutes"}
      }
    },
    "BurnRateConfigurations":{
      "type":"list",
      "member":{"shape":"BurnRateConfiguration"},
      "max":10,
      "min":0
    },
    "BurnRateLookBackWindowMinutes":{
      "type":"integer",
      "box":true,
      "max":10080,
      "min":1
    },
    "CalendarInterval":{
      "type":"structure",
      "required":[
        "StartTime",
        "DurationUnit",
        "Duration"
      ],
      "members":{
        "StartTime":{"shape":"Timestamp"},
        "DurationUnit":{"shape":"DurationUnit"},
        "Duration":{"shape":"CalendarIntervalDuration"}
      }
    },
    "CalendarIntervalDuration":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "CanaryEntity":{
      "type":"structure",
      "required":["CanaryName"],
      "members":{
        "CanaryName":{"shape":"String"}
      }
    },
    "CaptureConfiguration":{
      "type":"structure",
      "members":{
        "CodeCapture":{"shape":"CodeCaptureConfiguration"},
        "WatcherCapture":{"shape":"WatcherCaptureConfiguration"}
      },
      "union":true
    },
    "CaptureLimitsConfig":{
      "type":"structure",
      "members":{
        "MaxHits":{"shape":"CaptureLimitsConfigMaxHitsInteger"},
        "MaxStringLength":{"shape":"CaptureLimitsConfigMaxStringLengthInteger"},
        "MaxCollectionWidth":{"shape":"CaptureLimitsConfigMaxCollectionWidthInteger"},
        "MaxCollectionDepth":{"shape":"CaptureLimitsConfigMaxCollectionDepthInteger"},
        "MaxStackFrames":{"shape":"CaptureLimitsConfigMaxStackFramesInteger"},
        "MaxStackTraceSize":{"shape":"CaptureLimitsConfigMaxStackTraceSizeInteger"},
        "MaxObjectDepth":{"shape":"CaptureLimitsConfigMaxObjectDepthInteger"},
        "MaxFieldsPerObject":{"shape":"CaptureLimitsConfigMaxFieldsPerObjectInteger"}
      }
    },
    "CaptureLimitsConfigMaxCollectionDepthInteger":{
      "type":"integer",
      "box":true,
      "max":5,
      "min":1
    },
    "CaptureLimitsConfigMaxCollectionWidthInteger":{
      "type":"integer",
      "box":true,
      "max":20,
      "min":1
    },
    "CaptureLimitsConfigMaxFieldsPerObjectInteger":{
      "type":"integer",
      "box":true,
      "max":20,
      "min":1
    },
    "CaptureLimitsConfigMaxHitsInteger":{
      "type":"integer",
      "box":true,
      "max":1000,
      "min":1
    },
    "CaptureLimitsConfigMaxObjectDepthInteger":{
      "type":"integer",
      "box":true,
      "max":5,
      "min":1
    },
    "CaptureLimitsConfigMaxStackFramesInteger":{
      "type":"integer",
      "box":true,
      "max":20,
      "min":1
    },
    "CaptureLimitsConfigMaxStackTraceSizeInteger":{
      "type":"integer",
      "box":true,
      "max":1000,
      "min":1
    },
    "CaptureLimitsConfigMaxStringLengthInteger":{
      "type":"integer",
      "box":true,
      "max":255,
      "min":1
    },
    "ChangeEvent":{
      "type":"structure",
      "required":[
        "Timestamp",
        "AccountId",
        "Region",
        "Entity",
        "ChangeEventType",
        "EventId",
        "UserName",
        "EventName"
      ],
      "members":{
        "Timestamp":{"shape":"Timestamp"},
        "AccountId":{"shape":"AwsAccountId"},
        "Region":{"shape":"String"},
        "Entity":{"shape":"Attributes"},
        "ChangeEventType":{"shape":"ChangeEventType"},
        "EventId":{"shape":"String"},
        "UserName":{"shape":"String"},
        "EventName":{"shape":"String"}
      }
    },
    "ChangeEventType":{
      "type":"string",
      "enum":[
        "DEPLOYMENT",
        "CONFIGURATION"
      ]
    },
    "ChangeEvents":{
      "type":"list",
      "member":{"shape":"ChangeEvent"},
      "max":250,
      "min":0
    },
    "CodeCaptureConfiguration":{
      "type":"structure",
      "required":["CaptureLimits"],
      "members":{
        "CaptureArguments":{"shape":"CodeCaptureConfigurationCaptureArgumentsList"},
        "CaptureReturn":{"shape":"Boolean"},
        "CaptureStackTrace":{"shape":"Boolean"},
        "CaptureLocals":{"shape":"CodeCaptureConfigurationCaptureLocalsList"},
        "CaptureLimits":{"shape":"CaptureLimitsConfig"}
      }
    },
    "CodeCaptureConfigurationCaptureArgumentsList":{
      "type":"list",
      "member":{"shape":"CodeCaptureConfigurationCaptureArgumentsListMemberString"},
      "max":10,
      "min":0
    },
    "CodeCaptureConfigurationCaptureArgumentsListMemberString":{
      "type":"string",
      "max":80,
      "min":1
    },
    "CodeCaptureConfigurationCaptureLocalsList":{
      "type":"list",
      "member":{"shape":"CodeCaptureConfigurationCaptureLocalsListMemberString"},
      "max":20,
      "min":0
    },
    "CodeCaptureConfigurationCaptureLocalsListMemberString":{
      "type":"string",
      "max":80,
      "min":1
    },
    "CodeLocation":{
      "type":"structure",
      "required":[
        "Language",
        "FilePath"
      ],
      "members":{
        "Language":{"shape":"ProgrammingLanguage"},
        "CodeUnit":{"shape":"CodeLocationCodeUnitString"},
        "ClassName":{"shape":"CodeLocationClassNameString"},
        "MethodName":{"shape":"CodeLocationMethodNameString"},
        "FilePath":{"shape":"CodeLocationFilePathString"},
        "LineNumber":{"shape":"CodeLocationLineNumberInteger"}
      }
    },
    "CodeLocationClassNameString":{
      "type":"string",
      "max":128,
      "min":1
    },
    "CodeLocationCodeUnitString":{
      "type":"string",
      "max":128,
      "min":1
    },
    "CodeLocationFilePathString":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "CodeLocationLineNumberInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "CodeLocationMethodNameString":{
      "type":"string",
      "max":80,
      "min":1
    },
    "CompositeSliMetricComponent":{
      "type":"structure",
      "members":{
        "Weight":{
          "shape":"CompositeSliMetricComponentWeightDouble",
          "documentation":"<p>Weight assigned to this component in the composite SLI calculation. Must be between 0 and 1. Sum of all component weights must equal 1.0.</p>"
        },
        "OperationName":{
          "shape":"OperationName",
          "documentation":"<p>Name of the operation. Required for service-level SLOs where multiple operations are aggregated for a single service.</p>"
        },
        "KeyAttributes":{
          "shape":"Attributes",
          "documentation":"<p>KeyAttributes that identify the service. Required for application-level SLOs where multiple services are aggregated.</p>"
        }
      },
      "documentation":"<p>A composite component representing a single operation (for service-level SLOs) or service (for application-level SLOs) within a composite SLI calculation</p>"
    },
    "CompositeSliMetricComponentWeightDouble":{
      "type":"double",
      "box":true,
      "max":1.0,
      "min":0.0
    },
    "CompositeSliMetricComponents":{
      "type":"list",
      "member":{"shape":"CompositeSliMetricComponent"},
      "documentation":"<p>List of composite components that form a service-level or application-level SLI</p>",
      "max":20,
      "min":2
    },
    "ConflictException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ConnectionType":{
      "type":"string",
      "enum":[
        "INDIRECT",
        "DIRECT"
      ]
    },
    "CreateInstrumentationConfigurationRequest":{
      "type":"structure",
      "required":[
        "InstrumentationType",
        "Service",
        "Environment",
        "SignalType",
        "Location",
        "CaptureConfiguration"
      ],
      "members":{
        "InstrumentationType":{
          "shape":"InstrumentationType",
          "documentation":"<p>Type of instrumentation: BREAKPOINT (temporary) or PROBE (permanent)</p>"
        },
        "Service":{"shape":"CreateInstrumentationConfigurationRequestServiceString"},
        "Environment":{"shape":"CreateInstrumentationConfigurationRequestEnvironmentString"},
        "SignalType":{"shape":"DynamicInstrumentationSignalType"},
        "Location":{"shape":"Location"},
        "Description":{"shape":"CreateInstrumentationConfigurationRequestDescriptionString"},
        "ExpiresAt":{
          "shape":"Timestamp",
          "documentation":"<p>For BREAKPOINT: optional, defaults to 24 hours, must be between 5 min and 24 hours For PROBE: optional, can be set for auto-cleanup or left null for permanent</p>"
        },
        "AttributeFilters":{"shape":"DynamicInstrumentationAttributeFilters"},
        "CaptureConfiguration":{"shape":"CaptureConfiguration"}
      }
    },
    "CreateInstrumentationConfigurationRequestDescriptionString":{
      "type":"string",
      "max":50,
      "min":1
    },
    "CreateInstrumentationConfigurationRequestEnvironmentString":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[A-Za-z0-9:/+=,.@_-]+"
    },
    "CreateInstrumentationConfigurationRequestServiceString":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[A-Za-z0-9:/+=,.@_-]+"
    },
    "CreateInstrumentationConfigurationResponse":{
      "type":"structure",
      "required":[
        "InstrumentationType",
        "Service",
        "Environment",
        "SignalType",
        "Location",
        "LocationHash",
        "CaptureConfiguration",
        "CreatedAt",
        "ARN"
      ],
      "members":{
        "InstrumentationType":{"shape":"InstrumentationType"},
        "Service":{"shape":"CreateInstrumentationConfigurationResponseServiceString"},
        "Environment":{"shape":"CreateInstrumentationConfigurationResponseEnvironmentString"},
        "SignalType":{"shape":"DynamicInstrumentationSignalType"},
        "Location":{"shape":"Location"},
        "LocationHash":{"shape":"CreateInstrumentationConfigurationResponseLocationHashString"},
        "Description":{"shape":"String"},
        "ExpiresAt":{"shape":"Timestamp"},
        "AttributeFilters":{"shape":"DynamicInstrumentationAttributeFilters"},
        "CaptureConfiguration":{"shape":"CaptureConfiguration"},
        "CreatedAt":{"shape":"Timestamp"},
        "ARN":{
          "shape":"InstrumentationConfigurationArn",
          "documentation":"<p>ARN for the created instrumentation configuration</p>"
        }
      }
    },
    "CreateInstrumentationConfigurationResponseEnvironmentString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "CreateInstrumentationConfigurationResponseLocationHashString":{
      "type":"string",
      "max":16,
      "min":16
    },
    "CreateInstrumentationConfigurationResponseServiceString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "CreateServiceLevelObjectiveInput":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"ServiceLevelObjectiveName"},
        "Description":{"shape":"ServiceLevelObjectiveDescription"},
        "SliConfig":{"shape":"ServiceLevelIndicatorConfig"},
        "RequestBasedSliConfig":{"shape":"RequestBasedServiceLevelIndicatorConfig"},
        "Goal":{"shape":"Goal"},
        "Tags":{"shape":"TagList"},
        "BurnRateConfigurations":{"shape":"BurnRateConfigurations"},
        "CreateRecommendedSlo":{"shape":"Boolean"}
      }
    },
    "CreateServiceLevelObjectiveOutput":{
      "type":"structure",
      "required":["Slo"],
      "members":{
        "Slo":{"shape":"ServiceLevelObjective"}
      }
    },
    "DataMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "DeleteGroupingConfigurationOutput":{
      "type":"structure",
      "members":{}
    },
    "DeleteInstrumentationConfigurationRequest":{
      "type":"structure",
      "required":[
        "InstrumentationType",
        "Service",
        "Environment",
        "SignalType",
        "LocationIdentifier"
      ],
      "members":{
        "InstrumentationType":{
          "shape":"InstrumentationType",
          "documentation":"<p>Type of instrumentation configuration (BREAKPOINT or PROBE). Required to determine which table to delete from.</p>"
        },
        "Service":{
          "shape":"DeleteInstrumentationConfigurationRequestServiceString",
          "documentation":"<p>Service name for the instrumentation configuration.</p>"
        },
        "Environment":{
          "shape":"DeleteInstrumentationConfigurationRequestEnvironmentString",
          "documentation":"<p>Environment name for the instrumentation configuration.</p>"
        },
        "SignalType":{
          "shape":"DynamicInstrumentationSignalType",
          "documentation":"<p>Signal type for the instrumentation configuration.</p>"
        },
        "LocationIdentifier":{
          "shape":"LocationIdentifier",
          "documentation":"<p>Location identifier - either full code/watcher location or a pre-computed hash.</p>"
        }
      }
    },
    "DeleteInstrumentationConfigurationRequestEnvironmentString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "DeleteInstrumentationConfigurationRequestServiceString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "DeleteInstrumentationConfigurationResponse":{
      "type":"structure",
      "required":["DeletionStatus"],
      "members":{
        "DeletionStatus":{"shape":"DynamicInstrumentationDeletionStatus"}
      }
    },
    "DeleteServiceLevelObjectiveInput":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"ServiceLevelObjectiveId",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "DeleteServiceLevelObjectiveOutput":{
      "type":"structure",
      "members":{}
    },
    "DependencyConfig":{
      "type":"structure",
      "required":[
        "DependencyKeyAttributes",
        "DependencyOperationName"
      ],
      "members":{
        "DependencyKeyAttributes":{"shape":"Attributes"},
        "DependencyOperationName":{"shape":"OperationName"}
      }
    },
    "DependencyGraph":{
      "type":"structure",
      "members":{
        "Nodes":{"shape":"Nodes"},
        "Edges":{"shape":"Edges"}
      }
    },
    "DetailLevel":{
      "type":"string",
      "enum":[
        "BRIEF",
        "DETAILED"
      ]
    },
    "Dimension":{
      "type":"structure",
      "required":[
        "Name",
        "Value"
      ],
      "members":{
        "Name":{"shape":"DimensionName"},
        "Value":{"shape":"DimensionValue"}
      }
    },
    "DimensionName":{
      "type":"string",
      "max":255,
      "min":1
    },
    "DimensionValue":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "Dimensions":{
      "type":"list",
      "member":{"shape":"Dimension"},
      "max":30,
      "min":0
    },
    "Double":{
      "type":"double",
      "box":true
    },
    "DurationUnit":{
      "type":"string",
      "enum":[
        "MINUTE",
        "HOUR",
        "DAY",
        "MONTH"
      ]
    },
    "DynamicInstrumentationAttributeFilterGroup":{
      "type":"map",
      "key":{"shape":"DynamicInstrumentationAttributeFilterGroupKeyString"},
      "value":{"shape":"DynamicInstrumentationAttributeFilterGroupValueString"}
    },
    "DynamicInstrumentationAttributeFilterGroupKeyString":{
      "type":"string",
      "max":50,
      "min":1
    },
    "DynamicInstrumentationAttributeFilterGroupValueString":{
      "type":"string",
      "max":100,
      "min":1
    },
    "DynamicInstrumentationAttributeFilters":{
      "type":"list",
      "member":{"shape":"DynamicInstrumentationAttributeFilterGroup"},
      "max":10,
      "min":1
    },
    "DynamicInstrumentationDeletionStatus":{
      "type":"string",
      "enum":["DELETED"]
    },
    "DynamicInstrumentationSignalType":{
      "type":"string",
      "enum":["SNAPSHOT"]
    },
    "Edge":{
      "type":"structure",
      "members":{
        "SourceNodeId":{"shape":"String"},
        "DestinationNodeId":{"shape":"String"},
        "Duration":{"shape":"Double"},
        "ConnectionType":{"shape":"ConnectionType"}
      }
    },
    "Edges":{
      "type":"list",
      "member":{"shape":"Edge"}
    },
    "EvaluationType":{
      "type":"string",
      "enum":[
        "PeriodBased",
        "RequestBased"
      ]
    },
    "ExclusionDuration":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "ExclusionReason":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "ExclusionWindow":{
      "type":"structure",
      "required":["Window"],
      "members":{
        "Window":{"shape":"Window"},
        "StartTime":{"shape":"Timestamp"},
        "RecurrenceRule":{"shape":"RecurrenceRule"},
        "Reason":{"shape":"ExclusionReason"}
      }
    },
    "ExclusionWindowErrorCode":{"type":"string"},
    "ExclusionWindowErrorMessage":{"type":"string"},
    "ExclusionWindows":{
      "type":"list",
      "member":{"shape":"ExclusionWindow"},
      "max":10,
      "min":0
    },
    "Expression":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "FaultDescription":{"type":"string"},
    "FindingDescription":{
      "type":"structure",
      "members":{
        "TemplateCode":{"shape":"String"},
        "Message":{"shape":"String"},
        "MessageArguments":{"shape":"ArgumentMap"}
      },
      "deprecated":true
    },
    "GetInstrumentationConfigurationRequest":{
      "type":"structure",
      "required":[
        "InstrumentationType",
        "Service",
        "Environment",
        "SignalType",
        "LocationIdentifier"
      ],
      "members":{
        "InstrumentationType":{
          "shape":"InstrumentationType",
          "documentation":"<p>Type of instrumentation configuration (BREAKPOINT or PROBE). Required to determine which table to query.</p>"
        },
        "Service":{
          "shape":"GetInstrumentationConfigurationRequestServiceString",
          "documentation":"<p>Service name for the instrumentation configuration.</p>"
        },
        "Environment":{
          "shape":"GetInstrumentationConfigurationRequestEnvironmentString",
          "documentation":"<p>Environment name for the instrumentation configuration.</p>"
        },
        "SignalType":{
          "shape":"DynamicInstrumentationSignalType",
          "documentation":"<p>Signal type for the instrumentation configuration.</p>"
        },
        "LocationIdentifier":{
          "shape":"LocationIdentifier",
          "documentation":"<p>Location identifier - either full code/watcher location or a pre-computed hash.</p>"
        }
      }
    },
    "GetInstrumentationConfigurationRequestEnvironmentString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "GetInstrumentationConfigurationRequestServiceString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "GetInstrumentationConfigurationResponse":{
      "type":"structure",
      "required":["Configuration"],
      "members":{
        "Configuration":{"shape":"InstrumentationConfiguration"}
      }
    },
    "GetInstrumentationConfigurationStatusRequest":{
      "type":"structure",
      "required":[
        "InstrumentationType",
        "Service",
        "Environment",
        "SignalType",
        "LocationIdentifier"
      ],
      "members":{
        "InstrumentationType":{
          "shape":"InstrumentationType",
          "documentation":"<p>Type of instrumentation configuration (BREAKPOINT or PROBE). Required to determine which table to query.</p>"
        },
        "Service":{
          "shape":"GetInstrumentationConfigurationStatusRequestServiceString",
          "documentation":"<p>Service name for the instrumentation configuration.</p>"
        },
        "Environment":{
          "shape":"GetInstrumentationConfigurationStatusRequestEnvironmentString",
          "documentation":"<p>Environment name for the instrumentation configuration.</p>"
        },
        "SignalType":{
          "shape":"DynamicInstrumentationSignalType",
          "documentation":"<p>Signal type for the instrumentation configuration.</p>"
        },
        "LocationIdentifier":{
          "shape":"LocationIdentifier",
          "documentation":"<p>Location identifier - either full code/watcher location or a pre-computed hash.</p>"
        },
        "Status":{"shape":"InstrumentationConfigurationStatus"},
        "StartTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "MaxResults":{"shape":"GetInstrumentationConfigurationStatusRequestMaxResultsInteger"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "GetInstrumentationConfigurationStatusRequestEnvironmentString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "GetInstrumentationConfigurationStatusRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "GetInstrumentationConfigurationStatusRequestServiceString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "GetInstrumentationConfigurationStatusResponse":{
      "type":"structure",
      "required":[
        "Service",
        "Environment",
        "SignalType",
        "Location",
        "Status",
        "Events"
      ],
      "members":{
        "Service":{"shape":"GetInstrumentationConfigurationStatusResponseServiceString"},
        "Environment":{"shape":"GetInstrumentationConfigurationStatusResponseEnvironmentString"},
        "SignalType":{"shape":"DynamicInstrumentationSignalType"},
        "Location":{"shape":"Location"},
        "Status":{"shape":"InstrumentationConfigurationStatus"},
        "Events":{"shape":"InstrumentationStatusEventList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "GetInstrumentationConfigurationStatusResponseEnvironmentString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "GetInstrumentationConfigurationStatusResponseServiceString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "GetServiceInput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime",
        "KeyAttributes"
      ],
      "members":{
        "StartTime":{
          "shape":"Timestamp",
          "location":"querystring",
          "locationName":"StartTime"
        },
        "EndTime":{
          "shape":"Timestamp",
          "location":"querystring",
          "locationName":"EndTime"
        },
        "KeyAttributes":{"shape":"Attributes"}
      }
    },
    "GetServiceLevelObjectiveInput":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"ServiceLevelObjectiveId",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetServiceLevelObjectiveOutput":{
      "type":"structure",
      "required":["Slo"],
      "members":{
        "Slo":{"shape":"ServiceLevelObjective"}
      }
    },
    "GetServiceOutput":{
      "type":"structure",
      "required":[
        "Service",
        "StartTime",
        "EndTime"
      ],
      "members":{
        "Service":{"shape":"Service"},
        "StartTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "LogGroupReferences":{"shape":"LogGroupReferences"}
      }
    },
    "GetTeleMendDeploymentsQueryResultInput":{
      "type":"structure",
      "required":["QueryId"],
      "members":{
        "QueryId":{
          "shape":"TeleMendQueryId",
          "location":"uri",
          "locationName":"QueryId"
        }
      }
    },
    "GetTeleMendDeploymentsQueryResultOutput":{
      "type":"structure",
      "required":[
        "QueryId",
        "Status"
      ],
      "members":{
        "QueryId":{"shape":"TeleMendQueryId"},
        "Status":{"shape":"TeleMendQueryStatus"},
        "ServiceName":{"shape":"String"},
        "Environment":{"shape":"String"},
        "ErrorMessage":{"shape":"String"},
        "Total":{"shape":"Integer"},
        "Returned":{"shape":"Integer"},
        "Deployments":{"shape":"TeleMendDeploymentItemList"}
      }
    },
    "GetTeleMendEndpointsQueryResultInput":{
      "type":"structure",
      "required":["QueryId"],
      "members":{
        "QueryId":{
          "shape":"TeleMendQueryId",
          "location":"uri",
          "locationName":"QueryId"
        }
      }
    },
    "GetTeleMendEndpointsQueryResultOutput":{
      "type":"structure",
      "required":[
        "QueryId",
        "Status"
      ],
      "members":{
        "QueryId":{"shape":"TeleMendQueryId"},
        "Status":{"shape":"TeleMendQueryStatus"},
        "ServiceName":{"shape":"String"},
        "Environment":{"shape":"String"},
        "ErrorMessage":{"shape":"String"},
        "Total":{"shape":"Integer"},
        "Returned":{"shape":"Integer"},
        "Endpoints":{"shape":"TeleMendEndpointDeploymentGroupList"}
      }
    },
    "GetTeleMendFunctionsQueryResultInput":{
      "type":"structure",
      "required":["QueryId"],
      "members":{
        "QueryId":{
          "shape":"TeleMendQueryId",
          "location":"uri",
          "locationName":"QueryId"
        }
      }
    },
    "GetTeleMendFunctionsQueryResultOutput":{
      "type":"structure",
      "required":[
        "QueryId",
        "Status"
      ],
      "members":{
        "QueryId":{"shape":"TeleMendQueryId"},
        "Status":{"shape":"TeleMendQueryStatus"},
        "ServiceName":{"shape":"String"},
        "Environment":{"shape":"String"},
        "ErrorMessage":{"shape":"String"},
        "Total":{"shape":"Integer"},
        "Returned":{"shape":"Integer"},
        "Functions":{"shape":"TeleMendFunctionItemList"}
      }
    },
    "GetTeleMendIncidentsQueryResultInput":{
      "type":"structure",
      "required":["QueryId"],
      "members":{
        "QueryId":{
          "shape":"IncidentQueryId",
          "location":"uri",
          "locationName":"QueryId"
        }
      }
    },
    "GetTeleMendIncidentsQueryResultOutput":{
      "type":"structure",
      "required":[
        "QueryId",
        "Status"
      ],
      "members":{
        "QueryId":{"shape":"IncidentQueryId"},
        "Status":{"shape":"IncidentQueryStatus"},
        "ErrorMessage":{"shape":"String"},
        "Incidents":{"shape":"IncidentResultList"}
      }
    },
    "GetTeleMendProfilesQueryResultInput":{
      "type":"structure",
      "required":["QueryId"],
      "members":{
        "QueryId":{
          "shape":"TeleMendQueryId",
          "location":"uri",
          "locationName":"QueryId"
        }
      }
    },
    "GetTeleMendProfilesQueryResultOutput":{
      "type":"structure",
      "required":[
        "QueryId",
        "Status"
      ],
      "members":{
        "QueryId":{"shape":"TeleMendQueryId"},
        "Status":{"shape":"TeleMendQueryStatus"},
        "ServiceName":{"shape":"String"},
        "Environment":{"shape":"String"},
        "ErrorMessage":{"shape":"String"},
        "Operation":{"shape":"String"},
        "ProfilesMerged":{"shape":"Integer"},
        "TotalSamples":{"shape":"Integer"},
        "CoveragePct":{"shape":"Double"},
        "HotFrames":{"shape":"TeleMendHotFrameList"},
        "FlameTree":{"shape":"TeleMendFlameTreeNode"}
      }
    },
    "Goal":{
      "type":"structure",
      "members":{
        "Interval":{"shape":"Interval"},
        "AttainmentGoal":{"shape":"AttainmentGoal"},
        "WarningThreshold":{"shape":"WarningThreshold"}
      }
    },
    "GroupIdentifier":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "GroupName":{
      "type":"string",
      "max":255,
      "min":1
    },
    "GroupSource":{
      "type":"string",
      "max":255,
      "min":1
    },
    "GroupValue":{
      "type":"string",
      "max":255,
      "min":1
    },
    "GroupingAttributeDefinition":{
      "type":"structure",
      "required":["GroupingName"],
      "members":{
        "GroupingName":{"shape":"GroupingString"},
        "GroupingSourceKeys":{"shape":"GroupingSourceKeyStringList"},
        "DefaultGroupingValue":{"shape":"GroupingString"}
      }
    },
    "GroupingAttributeDefinitions":{
      "type":"list",
      "member":{"shape":"GroupingAttributeDefinition"}
    },
    "GroupingConfiguration":{
      "type":"structure",
      "required":[
        "GroupingAttributeDefinitions",
        "UpdatedAt"
      ],
      "members":{
        "GroupingAttributeDefinitions":{"shape":"GroupingAttributeDefinitions"},
        "UpdatedAt":{"shape":"Timestamp"}
      }
    },
    "GroupingSourceKeyStringList":{
      "type":"list",
      "member":{"shape":"GroupingString"}
    },
    "GroupingString":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9\\s+\\-=\\._:/@]*"
    },
    "IncidentDetailLevel":{
      "type":"string",
      "enum":[
        "SUMMARY",
        "FULL"
      ]
    },
    "IncidentEnvironment":{
      "type":"string",
      "max":255,
      "min":1
    },
    "IncidentExceptionDetail":{
      "type":"structure",
      "required":["IsProcessed"],
      "members":{
        "StackFrames":{"shape":"IncidentStackFrameList"},
        "IsProcessed":{"shape":"Boolean"},
        "RawFrameCount":{"shape":"Integer"}
      }
    },
    "IncidentFlameChart":{
      "type":"structure",
      "required":[
        "Root",
        "HasTimingData",
        "IsProcessed"
      ],
      "members":{
        "Root":{"shape":"IncidentFlameChartNode"},
        "TotalDurationNs":{"shape":"Long"},
        "TotalSamples":{"shape":"Integer"},
        "HasTimingData":{"shape":"Boolean"},
        "IsProcessed":{"shape":"Boolean"},
        "RawNodeCount":{"shape":"Integer"},
        "WeightUnit":{"shape":"String"}
      }
    },
    "IncidentFlameChartNode":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"String"},
        "FilePath":{"shape":"String"},
        "Line":{"shape":"Integer"},
        "DurationNs":{"shape":"Long"},
        "Samples":{"shape":"Integer"},
        "CallCount":{"shape":"Integer"},
        "IsHotspot":{"shape":"Boolean"},
        "IsError":{"shape":"Boolean"},
        "Weight":{"shape":"Double"},
        "SelfSamples":{"shape":"Integer"},
        "SelfWeight":{"shape":"Double"},
        "Children":{"shape":"IncidentFlameChartNodeList"}
      }
    },
    "IncidentFlameChartNodeList":{
      "type":"list",
      "member":{"shape":"IncidentFlameChartNode"}
    },
    "IncidentMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "IncidentQueryId":{
      "type":"string",
      "max":255,
      "min":1
    },
    "IncidentQueryStatus":{
      "type":"string",
      "enum":[
        "RUNNING",
        "COMPLETE",
        "FAILED",
        "CANCELLED"
      ]
    },
    "IncidentRequestContext":{
      "type":"structure",
      "members":{
        "Type":{"shape":"String"},
        "Timestamp":{"shape":"Long"},
        "StatusCode":{"shape":"Integer"},
        "RequestBody":{"shape":"String"},
        "QueryParams":{"shape":"IncidentRequestContextMap"},
        "PathParams":{"shape":"IncidentRequestContextMap"},
        "RequestHeaders":{"shape":"IncidentRequestContextMap"}
      }
    },
    "IncidentRequestContextMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "IncidentResult":{
      "type":"structure",
      "required":[
        "SnapshotId",
        "Timestamp",
        "Severity",
        "TriggerType",
        "AffectedEndpoint",
        "DurationMs",
        "Source"
      ],
      "members":{
        "SnapshotId":{"shape":"String"},
        "Timestamp":{"shape":"Long"},
        "Severity":{"shape":"String"},
        "TriggerType":{"shape":"String"},
        "AffectedEndpoint":{"shape":"String"},
        "EndpointId":{"shape":"String"},
        "DurationMs":{"shape":"Double"},
        "RequestContext":{"shape":"IncidentRequestContext"},
        "TelemetryCorrelation":{"shape":"IncidentTelemetryCorrelation"},
        "Source":{"shape":"IncidentSnapshotSource"},
        "ExceptionType":{"shape":"String"},
        "ExceptionMessage":{"shape":"String"},
        "FlameChart":{"shape":"IncidentFlameChart"},
        "ExceptionDetail":{"shape":"IncidentExceptionDetail"},
        "ResourceAttributes":{"shape":"IncidentRequestContextMap"},
        "DeploymentId":{"shape":"String"}
      }
    },
    "IncidentResultList":{
      "type":"list",
      "member":{"shape":"IncidentResult"}
    },
    "IncidentServiceName":{
      "type":"string",
      "max":255,
      "min":1
    },
    "IncidentSnapshotSource":{
      "type":"string",
      "enum":[
        "JAVA",
        "PYTHON"
      ]
    },
    "IncidentStackFrame":{
      "type":"structure",
      "members":{
        "ClassName":{"shape":"String"},
        "MethodName":{"shape":"String"},
        "FileName":{"shape":"String"},
        "LineNumber":{"shape":"Integer"},
        "IsApplicationFrame":{"shape":"Boolean"}
      }
    },
    "IncidentStackFrameList":{
      "type":"list",
      "member":{"shape":"IncidentStackFrame"}
    },
    "IncidentTelemetryCorrelation":{
      "type":"structure",
      "members":{
        "TraceId":{"shape":"String"},
        "SpanId":{"shape":"String"},
        "RequestId":{"shape":"String"}
      }
    },
    "IncidentTriggerTypeFilter":{
      "type":"string",
      "enum":[
        "LATENCY",
        "EXCEPTION"
      ]
    },
    "InstrumentationConfiguration":{
      "type":"structure",
      "required":[
        "InstrumentationType",
        "Service",
        "Environment",
        "SignalType",
        "Location",
        "LocationHash",
        "CaptureConfiguration",
        "CreatedAt",
        "ARN"
      ],
      "members":{
        "InstrumentationType":{"shape":"InstrumentationType"},
        "Service":{"shape":"InstrumentationConfigurationServiceString"},
        "Environment":{"shape":"InstrumentationConfigurationEnvironmentString"},
        "SignalType":{"shape":"DynamicInstrumentationSignalType"},
        "Location":{"shape":"Location"},
        "LocationHash":{"shape":"InstrumentationConfigurationLocationHashString"},
        "Description":{"shape":"InstrumentationConfigurationDescriptionString"},
        "ExpiresAt":{"shape":"Timestamp"},
        "AttributeFilters":{"shape":"DynamicInstrumentationAttributeFilters"},
        "CaptureConfiguration":{"shape":"CaptureConfiguration"},
        "CreatedAt":{"shape":"Timestamp"},
        "ARN":{
          "shape":"InstrumentationConfigurationArn",
          "documentation":"<p>ARN for the instrumentation configuration</p>"
        }
      }
    },
    "InstrumentationConfigurationArn":{
      "type":"string",
      "documentation":"<p>ARN for an instrumentation configuration Format: arn:${Partition}:application-signals:${Region}:${Account}:instrumentationConfig/${service}/${environment}/${signalType}/${locationHash} Note: service and environment can contain '/' and ':', so we use a permissive pattern that only validates the ARN prefix structure and the 16-character hex locationHash suffix.</p>",
      "pattern":"arn:[^:]+:application-signals:[^:]+:[0-9]{12}:instrumentationConfig/.+/[a-fA-F0-9]{16}"
    },
    "InstrumentationConfigurationDescriptionString":{
      "type":"string",
      "max":50,
      "min":1
    },
    "InstrumentationConfigurationEnvironmentString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "InstrumentationConfigurationLocationHashString":{
      "type":"string",
      "max":16,
      "min":16
    },
    "InstrumentationConfigurationServiceString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "InstrumentationConfigurationStatus":{
      "type":"string",
      "enum":[
        "READY",
        "ERROR",
        "ACTIVE",
        "DISABLED"
      ]
    },
    "InstrumentationConfigurationStatusReport":{
      "type":"structure",
      "required":[
        "InstrumentationType",
        "SignalType",
        "LocationHash",
        "Status",
        "Time"
      ],
      "members":{
        "InstrumentationType":{"shape":"InstrumentationType"},
        "SignalType":{"shape":"DynamicInstrumentationSignalType"},
        "LocationHash":{"shape":"InstrumentationConfigurationStatusReportLocationHashString"},
        "Status":{"shape":"InstrumentationConfigurationStatus"},
        "Time":{"shape":"Timestamp"},
        "ErrorCause":{"shape":"InstrumentationErrorCause"}
      }
    },
    "InstrumentationConfigurationStatusReportLocationHashString":{
      "type":"string",
      "max":16,
      "min":16
    },
    "InstrumentationConfigurationWithoutServiceEnv":{
      "type":"structure",
      "required":[
        "InstrumentationType",
        "SignalType",
        "Location",
        "LocationHash",
        "CaptureConfiguration",
        "CreatedAt",
        "ARN"
      ],
      "members":{
        "InstrumentationType":{"shape":"InstrumentationType"},
        "SignalType":{"shape":"DynamicInstrumentationSignalType"},
        "Location":{"shape":"Location"},
        "LocationHash":{"shape":"InstrumentationConfigurationWithoutServiceEnvLocationHashString"},
        "Description":{"shape":"InstrumentationConfigurationWithoutServiceEnvDescriptionString"},
        "ExpiresAt":{"shape":"Timestamp"},
        "AttributeFilters":{"shape":"DynamicInstrumentationAttributeFilters"},
        "CaptureConfiguration":{"shape":"CaptureConfiguration"},
        "CreatedAt":{"shape":"Timestamp"},
        "ARN":{
          "shape":"InstrumentationConfigurationArn",
          "documentation":"<p>ARN for the instrumentation configuration</p>"
        }
      }
    },
    "InstrumentationConfigurationWithoutServiceEnvDescriptionString":{
      "type":"string",
      "max":50,
      "min":1
    },
    "InstrumentationConfigurationWithoutServiceEnvLocationHashString":{
      "type":"string",
      "max":16,
      "min":16
    },
    "InstrumentationConfigurationsPage":{
      "type":"structure",
      "required":[
        "Service",
        "Environment",
        "Changed",
        "SyncedAt",
        "SyncInterval"
      ],
      "members":{
        "Service":{"shape":"InstrumentationConfigurationsPageServiceString"},
        "Environment":{"shape":"InstrumentationConfigurationsPageEnvironmentString"},
        "Changed":{"shape":"Boolean"},
        "LatestConfigurations":{"shape":"InstrumentationConfigurationsWithoutServiceEnv"},
        "SyncedAt":{"shape":"Timestamp"},
        "SyncInterval":{"shape":"InstrumentationConfigurationsPageSyncIntervalInteger"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "InstrumentationConfigurationsPageEnvironmentString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "InstrumentationConfigurationsPageServiceString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "InstrumentationConfigurationsPageSyncIntervalInteger":{
      "type":"integer",
      "box":true,
      "min":60
    },
    "InstrumentationConfigurationsWithoutServiceEnv":{
      "type":"list",
      "member":{"shape":"InstrumentationConfigurationWithoutServiceEnv"}
    },
    "InstrumentationErrorCause":{
      "type":"string",
      "enum":[
        "FILE_NOT_FOUND",
        "METHOD_NOT_FOUND",
        "LINE_NOT_EXECUTABLE",
        "OVERLOADED_METHODS",
        "LANGUAGE_MISMATCH",
        "RUNTIME_ERROR"
      ]
    },
    "InstrumentationStatusEvent":{
      "type":"structure",
      "required":["Time"],
      "members":{
        "Time":{"shape":"Timestamp"},
        "ErrorCause":{"shape":"InstrumentationErrorCause"}
      }
    },
    "InstrumentationStatusEventList":{
      "type":"list",
      "member":{"shape":"InstrumentationStatusEvent"}
    },
    "InstrumentationType":{
      "type":"string",
      "documentation":"<p>Type of instrumentation configuration</p>",
      "enum":[
        "BREAKPOINT",
        "PROBE",
        "WATCHER"
      ]
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "Interval":{
      "type":"structure",
      "members":{
        "RollingInterval":{"shape":"RollingInterval"},
        "CalendarInterval":{"shape":"CalendarInterval"}
      },
      "union":true
    },
    "KeyAttributeName":{
      "type":"string",
      "pattern":"[a-zA-Z]{1,50}"
    },
    "KeyAttributeValue":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[ -~]*[!-~]+[ -~]*"
    },
    "LatestChangeEvents":{
      "type":"list",
      "member":{"shape":"ChangeEvent"},
      "max":1,
      "min":1
    },
    "ListAuditFindingMaxResults":{
      "type":"integer",
      "box":true,
      "max":10,
      "min":1
    },
    "ListAuditFindingsInput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime",
        "AuditTargets"
      ],
      "members":{
        "StartTime":{
          "shape":"Timestamp",
          "location":"querystring",
          "locationName":"StartTime"
        },
        "EndTime":{
          "shape":"Timestamp",
          "location":"querystring",
          "locationName":"EndTime"
        },
        "Auditors":{"shape":"Auditors"},
        "AuditTargets":{"shape":"AuditTargets"},
        "DetailLevel":{"shape":"DetailLevel"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"ListAuditFindingMaxResults"}
      }
    },
    "ListAuditFindingsOutput":{
      "type":"structure",
      "required":["AuditFindings"],
      "members":{
        "StartTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "AuditFindings":{"shape":"AuditFindings"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListEntityEventsInput":{
      "type":"structure",
      "required":[
        "Entity",
        "StartTime",
        "EndTime"
      ],
      "members":{
        "Entity":{"shape":"Attributes"},
        "StartTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "MaxResults":{
          "shape":"ListEntityEventsMaxResults",
          "location":"querystring",
          "locationName":"MaxResults"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"NextToken"
        }
      }
    },
    "ListEntityEventsMaxResults":{
      "type":"integer",
      "box":true,
      "max":250,
      "min":1
    },
    "ListEntityEventsOutput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime",
        "ChangeEvents"
      ],
      "members":{
        "StartTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "ChangeEvents":{"shape":"ChangeEvents"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListGroupingAttributeDefinitionsInput":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"NextToken"
        },
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"querystring",
          "locationName":"AwsAccountId"
        },
        "IncludeLinkedAccounts":{
          "shape":"Boolean",
          "location":"querystring",
          "locationName":"IncludeLinkedAccounts"
        }
      }
    },
    "ListGroupingAttributeDefinitionsOutput":{
      "type":"structure",
      "required":["GroupingAttributeDefinitions"],
      "members":{
        "GroupingAttributeDefinitions":{"shape":"GroupingAttributeDefinitions"},
        "UpdatedAt":{"shape":"Timestamp"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListInstrumentationConfigurationsRequest":{
      "type":"structure",
      "required":[
        "Service",
        "Environment",
        "InstrumentationType"
      ],
      "members":{
        "Service":{"shape":"ListInstrumentationConfigurationsRequestServiceString"},
        "Environment":{"shape":"ListInstrumentationConfigurationsRequestEnvironmentString"},
        "InstrumentationType":{
          "shape":"InstrumentationType",
          "documentation":"<p>Type of instrumentation configuration (BREAKPOINT or PROBE). Required to determine which backing store to query.</p>"
        },
        "SyncedAt":{"shape":"Timestamp"},
        "MaxResults":{"shape":"ListInstrumentationConfigurationsRequestMaxResultsInteger"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListInstrumentationConfigurationsRequestEnvironmentString":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[A-Za-z0-9:/+=,.@_-]+"
    },
    "ListInstrumentationConfigurationsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListInstrumentationConfigurationsRequestServiceString":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[A-Za-z0-9:/+=,.@_-]+"
    },
    "ListServiceDependenciesInput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime",
        "KeyAttributes"
      ],
      "members":{
        "StartTime":{
          "shape":"Timestamp",
          "location":"querystring",
          "locationName":"StartTime"
        },
        "EndTime":{
          "shape":"Timestamp",
          "location":"querystring",
          "locationName":"EndTime"
        },
        "KeyAttributes":{"shape":"Attributes"},
        "MaxResults":{
          "shape":"ListServiceDependenciesMaxResults",
          "location":"querystring",
          "locationName":"MaxResults"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"NextToken"
        }
      }
    },
    "ListServiceDependenciesMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListServiceDependenciesOutput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime",
        "ServiceDependencies"
      ],
      "members":{
        "StartTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "ServiceDependencies":{"shape":"ServiceDependencies"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListServiceDependentsInput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime",
        "KeyAttributes"
      ],
      "members":{
        "StartTime":{
          "shape":"Timestamp",
          "location":"querystring",
          "locationName":"StartTime"
        },
        "EndTime":{
          "shape":"Timestamp",
          "location":"querystring",
          "locationName":"EndTime"
        },
        "KeyAttributes":{"shape":"Attributes"},
        "MaxResults":{
          "shape":"ListServiceDependentsMaxResults",
          "location":"querystring",
          "locationName":"MaxResults"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"NextToken"
        }
      }
    },
    "ListServiceDependentsMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListServiceDependentsOutput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime",
        "ServiceDependents"
      ],
      "members":{
        "StartTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "ServiceDependents":{"shape":"ServiceDependents"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListServiceLevelObjectiveExclusionWindowsInput":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"ServiceLevelObjectiveId",
          "location":"uri",
          "locationName":"Id"
        },
        "MaxResults":{
          "shape":"ListServiceLevelObjectiveExclusionWindowsMaxResults",
          "location":"querystring",
          "locationName":"MaxResults"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"NextToken"
        }
      }
    },
    "ListServiceLevelObjectiveExclusionWindowsMaxResults":{
      "type":"integer",
      "box":true,
      "max":10,
      "min":1
    },
    "ListServiceLevelObjectiveExclusionWindowsOutput":{
      "type":"structure",
      "required":["ExclusionWindows"],
      "members":{
        "ExclusionWindows":{"shape":"ExclusionWindows"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListServiceLevelObjectivesInput":{
      "type":"structure",
      "members":{
        "KeyAttributes":{"shape":"Attributes"},
        "OperationName":{
          "shape":"OperationName",
          "location":"querystring",
          "locationName":"OperationName"
        },
        "DependencyConfig":{"shape":"DependencyConfig"},
        "MaxResults":{
          "shape":"ListServiceLevelObjectivesMaxResults",
          "location":"querystring",
          "locationName":"MaxResults"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"NextToken"
        },
        "IncludeLinkedAccounts":{
          "shape":"Boolean",
          "location":"querystring",
          "locationName":"IncludeLinkedAccounts"
        },
        "SloOwnerAwsAccountId":{
          "shape":"AwsAccountId",
          "location":"querystring",
          "locationName":"SloOwnerAwsAccountId"
        },
        "MetricSourceTypes":{"shape":"MetricSourceTypes"},
        "MetricSource":{"shape":"MetricSource"}
      }
    },
    "ListServiceLevelObjectivesMaxResults":{
      "type":"integer",
      "box":true,
      "max":50,
      "min":1
    },
    "ListServiceLevelObjectivesOutput":{
      "type":"structure",
      "members":{
        "SloSummaries":{"shape":"ServiceLevelObjectiveSummaries"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListServiceOperationMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListServiceOperationsInput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime",
        "KeyAttributes"
      ],
      "members":{
        "StartTime":{
          "shape":"Timestamp",
          "location":"querystring",
          "locationName":"StartTime"
        },
        "EndTime":{
          "shape":"Timestamp",
          "location":"querystring",
          "locationName":"EndTime"
        },
        "KeyAttributes":{"shape":"Attributes"},
        "MaxResults":{
          "shape":"ListServiceOperationMaxResults",
          "location":"querystring",
          "locationName":"MaxResults"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"NextToken"
        }
      }
    },
    "ListServiceOperationsOutput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime",
        "ServiceOperations"
      ],
      "members":{
        "StartTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "ServiceOperations":{"shape":"ServiceOperations"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListServiceStatesInput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime"
      ],
      "members":{
        "StartTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "MaxResults":{"shape":"ListServiceStatesMaxResults"},
        "NextToken":{"shape":"NextToken"},
        "IncludeLinkedAccounts":{"shape":"Boolean"},
        "AwsAccountId":{"shape":"AwsAccountId"},
        "AttributeFilters":{"shape":"AttributeFilters"}
      }
    },
    "ListServiceStatesMaxResults":{
      "type":"integer",
      "box":true,
      "max":250
    },
    "ListServiceStatesOutput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime",
        "ServiceStates"
      ],
      "members":{
        "StartTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "ServiceStates":{"shape":"ServiceStates"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListServicesInput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime"
      ],
      "members":{
        "StartTime":{
          "shape":"Timestamp",
          "location":"querystring",
          "locationName":"StartTime"
        },
        "EndTime":{
          "shape":"Timestamp",
          "location":"querystring",
          "locationName":"EndTime"
        },
        "MaxResults":{
          "shape":"ListServicesMaxResults",
          "location":"querystring",
          "locationName":"MaxResults"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"NextToken"
        },
        "IncludeLinkedAccounts":{
          "shape":"Boolean",
          "location":"querystring",
          "locationName":"IncludeLinkedAccounts"
        },
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"querystring",
          "locationName":"AwsAccountId"
        }
      }
    },
    "ListServicesMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListServicesOutput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime",
        "ServiceSummaries"
      ],
      "members":{
        "StartTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "ServiceSummaries":{"shape":"ServiceSummaries"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{
          "shape":"AmazonResourceName",
          "location":"querystring",
          "locationName":"ResourceArn"
        }
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "Tags":{"shape":"TagList"}
      }
    },
    "Location":{
      "type":"structure",
      "members":{
        "CodeLocation":{"shape":"CodeLocation"},
        "WatcherLocation":{"shape":"WatcherLocation"}
      },
      "union":true
    },
    "LocationIdentifier":{
      "type":"structure",
      "members":{
        "CodeLocation":{
          "shape":"CodeLocation",
          "documentation":"<p>The full code location specification (will be hashed internally)</p>"
        },
        "WatcherLocation":{
          "shape":"WatcherLocation",
          "documentation":"<p>The full watcher location specification (will be hashed internally)</p>"
        },
        "LocationHash":{
          "shape":"LocationIdentifierLocationHashString",
          "documentation":"<p>The pre-computed location hash (16-character hex string)</p>"
        }
      },
      "documentation":"<p>Union type for identifying an instrumentation configuration by code/watcher location or locationHash. Used in Get/Delete/GetStatus operations to allow flexible identification.</p>",
      "union":true
    },
    "LocationIdentifierLocationHashString":{
      "type":"string",
      "max":16,
      "min":16
    },
    "LogGroupReferences":{
      "type":"list",
      "member":{"shape":"Attributes"}
    },
    "Long":{
      "type":"long",
      "box":true
    },
    "Metric":{
      "type":"structure",
      "members":{
        "Namespace":{"shape":"Namespace"},
        "MetricName":{"shape":"MetricName"},
        "Dimensions":{"shape":"Dimensions"}
      }
    },
    "MetricDataQueries":{
      "type":"list",
      "member":{"shape":"MetricDataQuery"}
    },
    "MetricDataQuery":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{"shape":"MetricId"},
        "MetricStat":{"shape":"MetricStat"},
        "Expression":{"shape":"MetricExpression"},
        "Label":{"shape":"MetricLabel"},
        "ReturnData":{"shape":"ReturnData"},
        "Period":{"shape":"Period"},
        "AccountId":{"shape":"AccountId"}
      }
    },
    "MetricExpression":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "MetricGraph":{
      "type":"structure",
      "members":{
        "MetricDataQueries":{"shape":"MetricDataQueries"},
        "Baseline":{
          "shape":"Double",
          "deprecated":true
        },
        "AnomalyTimestamp":{
          "shape":"Timestamp",
          "deprecated":true
        },
        "StartTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"}
      }
    },
    "MetricId":{
      "type":"string",
      "max":255,
      "min":1
    },
    "MetricLabel":{"type":"string"},
    "MetricName":{
      "type":"string",
      "max":255,
      "min":1
    },
    "MetricReference":{
      "type":"structure",
      "required":[
        "Namespace",
        "MetricType",
        "MetricName"
      ],
      "members":{
        "Namespace":{"shape":"Namespace"},
        "MetricType":{"shape":"MetricType"},
        "Dimensions":{"shape":"Dimensions"},
        "MetricName":{"shape":"MetricName"},
        "AccountId":{"shape":"AwsAccountId"}
      }
    },
    "MetricReferences":{
      "type":"list",
      "member":{"shape":"MetricReference"}
    },
    "MetricSource":{
      "type":"structure",
      "required":["MetricSourceKeyAttributes"],
      "members":{
        "MetricSourceKeyAttributes":{"shape":"Attributes"},
        "MetricSourceAttributes":{"shape":"Attributes"}
      }
    },
    "MetricSourceType":{
      "type":"string",
      "enum":[
        "ServiceOperation",
        "CloudWatchMetric",
        "ServiceDependency",
        "AppMonitor",
        "Canary",
        "Service"
      ]
    },
    "MetricSourceTypes":{
      "type":"list",
      "member":{"shape":"MetricSourceType"},
      "max":3,
      "min":1
    },
    "MetricStat":{
      "type":"structure",
      "required":[
        "Metric",
        "Period",
        "Stat"
      ],
      "members":{
        "Metric":{"shape":"Metric"},
        "Period":{"shape":"Period"},
        "Stat":{"shape":"Stat"},
        "Unit":{"shape":"StandardUnit"}
      }
    },
    "MetricType":{
      "type":"string",
      "pattern":"[A-Za-z0-9 -]+"
    },
    "MonitoredRequestCountMetricDataQueries":{
      "type":"structure",
      "members":{
        "GoodCountMetric":{"shape":"MetricDataQueries"},
        "BadCountMetric":{"shape":"MetricDataQueries"}
      },
      "union":true
    },
    "Namespace":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":".*[^:].*"
    },
    "NextToken":{"type":"string"},
    "Node":{
      "type":"structure",
      "required":[
        "KeyAttributes",
        "Name",
        "NodeId"
      ],
      "members":{
        "KeyAttributes":{"shape":"Attributes"},
        "Name":{"shape":"String"},
        "NodeId":{"shape":"String"},
        "Operation":{"shape":"String"},
        "Type":{"shape":"String"},
        "Duration":{"shape":"Double"},
        "Status":{"shape":"String"}
      }
    },
    "Nodes":{
      "type":"list",
      "member":{"shape":"Node"},
      "max":4,
      "min":0
    },
    "OperationName":{
      "type":"string",
      "max":255,
      "min":1
    },
    "Period":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "ProgrammingLanguage":{
      "type":"string",
      "enum":[
        "Java",
        "Python"
      ]
    },
    "PutGroupingConfigurationInput":{
      "type":"structure",
      "required":["GroupingAttributeDefinitions"],
      "members":{
        "GroupingAttributeDefinitions":{"shape":"GroupingAttributeDefinitions"}
      }
    },
    "PutGroupingConfigurationOutput":{
      "type":"structure",
      "required":["GroupingConfiguration"],
      "members":{
        "GroupingConfiguration":{"shape":"GroupingConfiguration"}
      }
    },
    "RecurrenceRule":{
      "type":"structure",
      "required":["Expression"],
      "members":{
        "Expression":{"shape":"Expression"}
      }
    },
    "ReportInstrumentationConfigurationStatusRequest":{
      "type":"structure",
      "required":[
        "Service",
        "Environment",
        "Configurations"
      ],
      "members":{
        "Service":{"shape":"ReportInstrumentationConfigurationStatusRequestServiceString"},
        "Environment":{"shape":"ReportInstrumentationConfigurationStatusRequestEnvironmentString"},
        "Configurations":{"shape":"ReportInstrumentationConfigurationStatusRequestConfigurationsList"}
      }
    },
    "ReportInstrumentationConfigurationStatusRequestConfigurationsList":{
      "type":"list",
      "member":{"shape":"InstrumentationConfigurationStatusReport"},
      "max":100,
      "min":1
    },
    "ReportInstrumentationConfigurationStatusRequestEnvironmentString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "ReportInstrumentationConfigurationStatusRequestServiceString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "ReportInstrumentationConfigurationStatusResponse":{
      "type":"structure",
      "required":[
        "Service",
        "Environment",
        "UnprocessedStatusEvents"
      ],
      "members":{
        "Service":{"shape":"ReportInstrumentationConfigurationStatusResponseServiceString"},
        "Environment":{"shape":"ReportInstrumentationConfigurationStatusResponseEnvironmentString"},
        "UnprocessedStatusEvents":{"shape":"UnprocessedStatusEventList"}
      }
    },
    "ReportInstrumentationConfigurationStatusResponseEnvironmentString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "ReportInstrumentationConfigurationStatusResponseServiceString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "RequestBasedServiceLevelIndicator":{
      "type":"structure",
      "required":["RequestBasedSliMetric"],
      "members":{
        "RequestBasedSliMetric":{"shape":"RequestBasedServiceLevelIndicatorMetric"},
        "MetricThreshold":{"shape":"ServiceLevelIndicatorMetricThreshold"},
        "ComparisonOperator":{"shape":"ServiceLevelIndicatorComparisonOperator"}
      }
    },
    "RequestBasedServiceLevelIndicatorConfig":{
      "type":"structure",
      "required":["RequestBasedSliMetricConfig"],
      "members":{
        "RequestBasedSliMetricConfig":{"shape":"RequestBasedServiceLevelIndicatorMetricConfig"},
        "MetricThreshold":{"shape":"ServiceLevelIndicatorMetricThreshold"},
        "ComparisonOperator":{"shape":"ServiceLevelIndicatorComparisonOperator"}
      }
    },
    "RequestBasedServiceLevelIndicatorMetric":{
      "type":"structure",
      "required":[
        "TotalRequestCountMetric",
        "MonitoredRequestCountMetric"
      ],
      "members":{
        "KeyAttributes":{"shape":"Attributes"},
        "OperationName":{"shape":"OperationName"},
        "MetricType":{"shape":"ServiceLevelIndicatorMetricType"},
        "TotalRequestCountMetric":{"shape":"MetricDataQueries"},
        "MonitoredRequestCountMetric":{"shape":"MonitoredRequestCountMetricDataQueries"},
        "DependencyConfig":{"shape":"DependencyConfig"},
        "MetricSource":{"shape":"MetricSource"}
      }
    },
    "RequestBasedServiceLevelIndicatorMetricConfig":{
      "type":"structure",
      "members":{
        "KeyAttributes":{"shape":"Attributes"},
        "OperationName":{"shape":"OperationName"},
        "MetricType":{"shape":"ServiceLevelIndicatorMetricType"},
        "TotalRequestCountMetric":{"shape":"MetricDataQueries"},
        "MonitoredRequestCountMetric":{"shape":"MonitoredRequestCountMetricDataQueries"},
        "DependencyConfig":{"shape":"DependencyConfig"},
        "MetricSource":{"shape":"MetricSource"},
        "MetricName":{"shape":"MetricName"}
      }
    },
    "ResourceId":{"type":"string"},
    "ResourceNotFoundException":{
      "type":"structure",
      "required":[
        "ResourceType",
        "ResourceId",
        "Message"
      ],
      "members":{
        "ResourceType":{"shape":"ResourceType"},
        "ResourceId":{"shape":"ResourceId"},
        "Message":{"shape":"FaultDescription"}
      },
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ResourceType":{"type":"string"},
    "ReturnData":{
      "type":"boolean",
      "box":true
    },
    "RollingInterval":{
      "type":"structure",
      "required":[
        "DurationUnit",
        "Duration"
      ],
      "members":{
        "DurationUnit":{"shape":"DurationUnit"},
        "Duration":{"shape":"RollingIntervalDuration"}
      }
    },
    "RollingIntervalDuration":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "SLIPeriodSeconds":{
      "type":"integer",
      "box":true,
      "max":900,
      "min":60
    },
    "Service":{
      "type":"structure",
      "required":[
        "KeyAttributes",
        "MetricReferences"
      ],
      "members":{
        "KeyAttributes":{"shape":"Attributes"},
        "AttributeMaps":{"shape":"AttributeMaps"},
        "ServiceGroups":{"shape":"ServiceGroups"},
        "MetricReferences":{"shape":"MetricReferences"},
        "LogGroupReferences":{"shape":"LogGroupReferences"}
      }
    },
    "ServiceDependencies":{
      "type":"list",
      "member":{"shape":"ServiceDependency"},
      "max":100,
      "min":0
    },
    "ServiceDependency":{
      "type":"structure",
      "required":[
        "OperationName",
        "DependencyKeyAttributes",
        "DependencyOperationName",
        "MetricReferences"
      ],
      "members":{
        "OperationName":{"shape":"OperationName"},
        "DependencyKeyAttributes":{"shape":"Attributes"},
        "DependencyOperationName":{"shape":"OperationName"},
        "MetricReferences":{"shape":"MetricReferences"}
      }
    },
    "ServiceDependent":{
      "type":"structure",
      "required":[
        "DependentKeyAttributes",
        "MetricReferences"
      ],
      "members":{
        "OperationName":{"shape":"OperationName"},
        "DependentKeyAttributes":{"shape":"Attributes"},
        "DependentOperationName":{"shape":"OperationName"},
        "MetricReferences":{"shape":"MetricReferences"}
      }
    },
    "ServiceDependents":{
      "type":"list",
      "member":{"shape":"ServiceDependent"},
      "max":100,
      "min":0
    },
    "ServiceEntity":{
      "type":"structure",
      "members":{
        "Type":{"shape":"String"},
        "Name":{"shape":"String"},
        "Environment":{"shape":"String"},
        "AwsAccountId":{"shape":"String"}
      }
    },
    "ServiceErrorMessage":{"type":"string"},
    "ServiceGroup":{
      "type":"structure",
      "required":[
        "GroupName",
        "GroupValue",
        "GroupSource",
        "GroupIdentifier"
      ],
      "members":{
        "GroupName":{"shape":"GroupName"},
        "GroupValue":{"shape":"GroupValue"},
        "GroupSource":{"shape":"GroupSource"},
        "GroupIdentifier":{"shape":"GroupIdentifier"}
      }
    },
    "ServiceGroups":{
      "type":"list",
      "member":{"shape":"ServiceGroup"}
    },
    "ServiceLevelIndicator":{
      "type":"structure",
      "required":[
        "SliMetric",
        "MetricThreshold",
        "ComparisonOperator"
      ],
      "members":{
        "SliMetric":{"shape":"ServiceLevelIndicatorMetric"},
        "MetricThreshold":{"shape":"ServiceLevelIndicatorMetricThreshold"},
        "ComparisonOperator":{"shape":"ServiceLevelIndicatorComparisonOperator"}
      }
    },
    "ServiceLevelIndicatorComparisonOperator":{
      "type":"string",
      "enum":[
        "GreaterThanOrEqualTo",
        "GreaterThan",
        "LessThan",
        "LessThanOrEqualTo"
      ]
    },
    "ServiceLevelIndicatorConfig":{
[...]
